.formacao {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.formacao-conteudo {
  display: grid;
  grid-template-columns: 1fr;
  gap: 9.375rem;
}

.formacao-item {
  position: relative;
  display: grid;
  gap: 1.25rem;
  padding: 1.25rem;
  background-color: #292929;
  border-radius: 0.25rem;
}

.formacao-item::before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 20px;
  top: 1.25rem;
  left: -0.25rem;
  background-image: linear-gradient(#2ed90b, #1eb100);
}

.formacao-item .nivel {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #b8b8b8;
}

.formacao-item .curso {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #f0f0f0;
}

.ano {
  position: absolute;
  color: #b8b8b8;
  top: 1.25rem;
  left: -10.875rem;
  text-align: right;
  width: 7em;
  font-size: 1rem;
}

.formacao-item .faculdade {
  font-size: 1.125rem;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #b8b8b8;
}

.certificado {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

.certificado h3 {
  position: relative;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #f0f0f0;
}

.certificado h3::before {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  left: -2rem;
  top: 0.3rem;
  background-image: url("../img/book.svg");
}

.certificado-lista {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
}

.titulo-ano {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.certificado-item a {
  color: #f0f0f0;
  font-size: 1.25rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: #292929;
  border-radius: 0.25rem;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}

.certificado-item a h4 {
  font-weight: 400;
}

.certificado-ano {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #b8b8b8;
  font-size: 1rem;
}

.certificado-ano {
  position: absolute;
  text-align: right;
  top: 0;
  width: 7rem;
  left: -13.25rem;
  pointer-events: none;
}

@media (max-width: 1000px) {
  .formacao-item .nivel {
    font-size: 0.75rem;
  }

  .ano {
    font-size: 0.75rem;
    left: -7.875rem;
  }

  .certificado-ano {
    font-size: 0.75rem;
    left: -10.25rem;
  }
  .formacao-item .curso {
    font-size: 1rem;
  }

  .formacao-item .faculdade {
    font-size: 0.875rem;
  }

  .certificado h3 {
    font-size: 1.25rem;
  }

  .certificado-item h4 {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .formacao {
    grid-template-columns: 1fr;
  }

  .ano {
    position: initial;
  }

  .certificado-item a {
    flex-direction: column;
  }

  .certificado-ano {
    position: initial;
  }

  .certificado-item a img {
    align-self: end;
  }
}

@media (max-width: 400px) {
  .formacao {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  .formacao-conteudo {
    gap: 6.25rem;
  }

  .formacao-item .nivel {
    font-size: 0.65rem;
  }

  .formacao-item .ano {
    font-size: 0.65rem;
  }

  .formacao-item .curso {
    font-size: 0.9rem;
  }

  .formacao-item .faculdade {
    font-size: 0.775rem;
  }

  .certificado h3 {
    font-size: 1.15rem;
  }

  .certificado-item h4 {
    font-size: 0.9rem;
    flex: 1;
  }

  .certificado-ano {
    font-size: 0.565rem;
  }

  .titulo-ano {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  .certificado-ano {
    width: max-content;
    order: -1;
  }
}
