body {
  margin: 0px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
}

.container {
  margin: 0 auto;
  padding: 0 2.5rem 2.5rem 2.5rem;
  display: grid;
  gap: 9.375rem;
  max-width: 1440px;
  grid-template-columns: 5fr 7fr;
  align-items: center;
}
