body {
  margin: 0px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: #141414;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
}

.container {
  margin: 0 auto;
  padding: 0 2.5rem 2.5rem 2.5rem;
  display: grid;
  gap: 9.375rem;
  max-width: 1440px;
  grid-template-columns: 5fr 7fr;
  align-items: center;
}

.subtitulo {
  align-self: start;
  font-size: 5.625rem;
  line-height: 1.1;
  max-width: 5ch;
  font-family: "Chakra Petch", Poppins, Arial, Helvetica, sans-serif;
  color: #8f8f8f;
  text-transform: uppercase;
  word-break: break-all;
}

.subtitulo span {
  color: #2ed90b;
}

@media (max-width: 1000px) {
  .subtitulo {
    font-size: 3.25rem;
  }
}

@media (max-width: 700px) {
  .subtitulo {
    max-width: initial;
  }

  .container {
    gap: 1.25rem;
  }
}

@media (max-width: 400px) {
  .subtitulo {
    font-size: 2rem;
  }
}
