header {
  padding: 2.5rem;
  max-width: 1440px;
  margin: 0 auto 3.75rem auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625rem;
}

.header-menu a {
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  height: 2.875rem;
  color: #f5f5f5;
  background-color: #292929;
  border-radius: 0.25rem;
}

@media (max-width: 400px) {
  .header-menu a {
    font-size: 1rem;
  }
}
