main {
  background: url("../img/grid.svg") no-repeat center;
  background-size: cover;
}

.intro-descricao {
  display: grid;
}

.intro-descricao h1 {
  word-break: break-all;
  font-family: "Chakra Petch", Poppins, Arial, Helvetica, sans-serif;
  font-size: 6rem;
  color: #f5f5f5;
  line-height: 1.1;
  font-weight: 400;
}

.intro-descricao h1 span {
  margin-left: 6.875rem;
  position: relative;
}

.intro-descricao h1 span::before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("../img/code.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 1.25rem;
}

.intro-descricao p {
  margin: 0.625rem 0 2.8125rem 0;
  font-size: 1.375rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #b8b8b8;
}

.intro-descricao a {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 1.375rem;
  justify-self: start;
  padding: 0.625rem 1.2rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #011b02;
  background-image: linear-gradient(#2ed90b, #1eb100);
}

@media (max-width: 1000px) {
  .intro-descricao h1 {
    font-size: 4.5rem;
  }
  .intro-descricao h1 span {
    margin-left: 5rem;
  }
  .intro-descricao a,
  .intro-descricao p {
    font-size: 1rem;
  }

  .intro-descricao p {
    margin: 1.25rem 0 1.25rem 0;
  }

  .intro-descricao h1 span::before {
    top: 0.5rem;
    width: 70px;
  }
}

@media (max-width: 800px) {
  .intro {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .intro-descricao h1 {
    justify-self: start;
  }
  .intro img {
    display: none;
  }
}

@media (max-width: 400px) {
  .intro-descricao h1 {
    font-size: 3.5rem;
  }

  .intro-descricao a,
  .intro-descricao p {
    font-size: 0.9rem;
  }

  .intro-descricao h1 span {
    margin-left: 4rem;
  }

  .intro-descricao h1 span::before {
    width: 50px;
    top: 0rem;
  }
}
